<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="localfeed" value="/tmp/claude-1000/-opt-game-game-project-stellar-devkit/c527bdf9-7439-4be9-96e9-1e23c497f264/scratchpad/localfeed" />
  </packageSources>
</configuration>
